.color-footer-text {
  color: red;
}

.navbar-default {
  background-color: orange !important;
}

body {
  background: url(../images/fond.jpeg) no-repeat;
  background-size: cover;
}

.titre {
  color: orange;
  margin-bottom: 800px;
  font-size: 210px;
}

.biographie {
  margin-bottom: -20px;
  background: white;
  width: 100%;
  text-align: left;
  width: 100%;
  font-size: 140%;
}
.biographie .moove {
  margin-top: 50px;
  margin-left: 125px;
}
.biographie .text-center {
  text-align: center;
}
.biographie .button {
  text-align: center;
}

.album {
  background-color: black;
}
.album .color-text {
  color: orange;
}
.album .under2 {
  float: left;
}
.album .title {
  margin-right: 60px;
  float: right;
}
.album .title2 {
  float: left;
  margin-left: 125px;
  text-align: center;
}
.album .around {
  clear: both;
}

.color-primary {
  color: #575757;
}
