.color-footer-text {
  color: red;
}

.navbar-default {
  background-color: #151515 !important;
}

.intro {
  background: url(../images/fond.jpeg) no-repeat !important;
}

.navbar-default {
  color: white;
}

body {
  background: url(../images/fond.jpeg) no-repeat !important;
  background-size: cover;
}

.intro {
  background: url(../images/fond.jpeg) no-repeat !important;
  background-size: cover;
}

.navbar-custom {
  background-color: black !important;
  padding: 0px !important;
}

.carousel {
  background: black;
  margin-top: -25px;
}

.titre {
  color: orange;
  font-size: 210px;
}

.biographie {
  color: black;
  margin-bottom: -20px;
  background: white;
  width: 100%;
  text-align: left;
  width: 100%;
  font-size: 140%;
}
.biographie .moove {
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 125px;
}
.biographie .text-center {
  margin-top: 50px;
  text-align: center;
}
.biographie .button {
  text-align: center;
}

.album {
  background-color: black;
}
.album .color-text {
  color: orange;
}
.album .under2 {
  float: left;
}
.album .title {
  margin-right: 60px;
  float: right;
}
.album .alboum {
  margin-top: 50px;
}
.album .title2 {
  float: left;
  margin-left: 125px;
  text-align: center;
}
.album .around {
  clear: both;
}

.clip {
  color: orange;
}
.clip .top {
  margin-top: 50px;
}

a {
  color: #ccc;
  text-shadow: 0 -1px 0 black;
}

a:hover, a:focus {
  background: transparent;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

a span {
  position: absolute;
}

a span {
  margin-top: 23px;
  margin-left: -35px;
}

a span {
  color: #09c;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

a span {
  transform: scale(0) rotate(-12deg);
}

a:hover span, a:focus span {
  transform: scale(1) rotate(0);
}

a span {
  transition: all .25s;
}

a span {
  opacity: 0;
}

a:hover span, a:focus span {
  opacity: 1;
}

.color-primary {
  color: blue;
}
