.color-footer-text {
  color: red;
}

.navbar-default {
  background-color: orange !important;
}

.biographie {
  width: 100%;
  text-align: left;
  width: 100%;
  font-size: 140%;
}
.biographie .moove {
  margin-left: 90px;
}
.biographie .text-center {
  text-align: center;
}

.album {
  background-color: black;
}
.album .color-text {
  color: orange;
}

.color-primary {
  color: #575757;
}
