$color-footer-text: red;
$background-footer-color: #151515;


.color-footer-text{
    color: $color-footer-text;
}

.navbar-default{
    background-color: $background-footer-color !important;
}

.intro{
	background: url(../images/fond.jpeg)no-repeat !important;
}

.navbar-default{
	color: white;
}