$width: 100%;
$text-left: left;
$text-center: center;
$margin-left: 125px;
$margin-right: 60px;
$margin-bottom: -20px;
$margin-top: 50px;
$font-size: 140%;
$backgroundblack: black;
$backgroundwhite: white;
$color-text: orange;
$font-sizetitre: 210px;


body{
    background: url(../images/fond.jpeg)no-repeat;
    background-size: cover;

}

.titre{
    color: $color-text;
    margin-bottom: 800px;
    font-size: $font-sizetitre;
}

.biographie{
    margin-bottom: $margin-bottom;
    background: $backgroundwhite; 
    width: $width;
    text-align: $text-left;
    width: $width;
    font-size: $font-size;
        .moove{
            margin-top: $margin-top;
            margin-left: $margin-left;
        } 
    .text-center{
        text-align: $text-center;
    }
    .button{
        text-align: $text-center;
    }
}

.album{
    background-color: $backgroundblack;
    .color-text{
        color: $color-text;
    }
    .under2{
        float: left;
        
    }
    .title{
        margin-right: $margin-right;
        float: right;
        
    }
    .title2{
        float: left;
        margin-left: $margin-left;
        text-align: $text-center;
    }
    .around{
        clear: both;
    }
}



