@import "_index.scss";
<<<<<<< HEAD
@import "_pnl_parcours.scss";

$color-primary: blue;

=======
$color-primary: blue;
>>>>>>> baccce5... Ajout d'un debut de Navbar

.color-primary{
    color: $color-primary; 
}

