@import "_index.scss";
<<<<<<< HEAD
$color-primary: blue;
=======
@import "_pnl_parcours.scss";

$color-primary: #575757;
>>>>>>> 5d4f207d6229d2e1a1800f2c2cc0727dfc55b551

.color-primary{
    color: $color-primary; 
}

